.btn{
	text-align: center;
	padding: 0.2604vw 3.6458vw;
	font-size: 1.1458vw;
	min-height: 2.7083vw;
	border-radius: 1.3021vw;
	line-height: 1;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all $t;
	cursor: pointer;
	appearance: none;
	white-space: nowrap;
	border: 1px solid #fff;
	box-shadow: 0 0.3125vw 1.0417vw rgba(#000, .24);
	color: #fff;
	position: relative;
	--btn-bg: #{ $primary };
	background: var(--btn-bg);

	.btn-icon{
		width: 2.1875vw;
		height: 2.1875vw;
		left: 0.2083vw;
		top: 0.2083vw;
		position: absolute;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		fill: var(--btn-bg);
		transition: all $t;
	}

	&:hover,
	&:focus{
		--btn-bg: #{ $accent };
		outline: none;

		.btn-icon{
			transform: scale(1.05);
		}
	}

	&.btn-big{
		min-height: 3.3854vw;
		border-radius: 1.7188vw;
		font-size: 1.5104vw;

		.btn-icon{
			width: 2.8646vw;
			height: 2.8646vw;
			left: 0.2604vw;
			top: 0.2604vw;
		}
	}
}