.modal{
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(#000, .28);
	overflow-y: auto;
	overscroll-behavior-y: contain;
	z-index: 999;
	// transform: scale(0);
	visibility: hidden;
	transition: visibility .4s, opacity .4s;
	cursor: pointer;
	opacity: 0;

	.modal-dialog{
		width: calc(100% - 15px * 2);
		max-width: 42.2917vw;
		margin: 60px auto;
		cursor: default;
		flex: none;
		position: relative;
		transform: translateY(-100%);
		opacity: 0;
		visibility: hidden;
		transition: all $t;
		transition-delay: .2s;
	}

	&.visible{
		visibility: visible;
		opacity: 1;

		.modal-dialog{
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}

	&.video-modal{
		.modal-dialog{
			width: auto;
			max-width: 70vw;

			@media screen and (max-width: 991px){
				max-width: 90vw;
			}
		}

		.modal-content{
			background: transparent;
			padding: 0;
		}

		.modal-video{
			width: 100%;
			position: relative;

			&:before{
				content: '';
				display: block;
				padding-top: 56.25%;
			}

			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				border: 0;
			}

			&.vimeo{
				&:before{
					padding-top: 52%;
				}
			}
		}
	}

	.modal-content{
		background: #fff;
		border-radius: 0;
		position: relative;
		padding: 0;
	}

	.modal-text{
		text-align: center;
	}
}

.modal-close{
	position: absolute;
	right: 0.7292vw;
	top: 0.7292vw;
	width: 1.0417vw;
	height: 1.0417vw;
	opacity: 1;
	transition: all $t;
	appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;

	background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.06 1.06a1.5 1.5 0 012.12 0l16 16a1.5 1.5 0 01-2.12 2.12l-16-16a1.5 1.5 0 010-2.12z' fill='%23C64839'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.18 1.06a1.5 1.5 0 010 2.12l-16 16a1.5 1.5 0 01-2.12-2.12l16-16a1.5 1.5 0 012.12 0z' fill='%23C64839'/%3E%3C/svg%3E") no-repeat center center / contain;
	z-index: 5;
}