.gallery-wrrap {
    display: grid;
    grid-template-columns: 18.3333vw 19.0104vw; //352  //365 
    grid-gap: 1.1458vw 1.0417vw; //22  //20 
    .gallery-item {
        display: flex;
        &:nth-child(1){
            img{
                width: 12.3958vw; //238 
                height: 9.3750vw; //180 
            }
        }
        &:nth-child(2){
            img{
                width: 8.6458vw; //166 
                height: 10.4167vw; //200 
            }
        }
        &:nth-child(3){
            img{
                width: 10.4167vw; //200 
                height: 13.3333vw; //256 
            }
        }
        &:nth-child(4){
            img{
                width: 13.2813vw; //255 
                height: 9.3750vw; //180 
            }
        }
        &:nth-child(odd){
            align-items: center;
            flex-direction: row-reverse;
            .gallery-img {
                margin-left: 0;
                margin-right: 1.0417vw; //20 
                margin-top: auto;
            }
            .gallery-info {
                text-align: left;
                b{ 
                    margin-right: auto;
                    max-width: 3.1250vw; //60 
                }
            }
        }
    }
    .gallery-img {
        margin-left: 1.0417vw; //20 
    }
    .gallery-info {
        @include h4;
        line-height: 1.1;
        b{
            font-family: $second-font;
            @include p-small;
            font-weight: 400;
            line-height: 1.1;
            color: $primary;
            display: block;
            max-width: 6.2500vw; //120 
            margin-bottom: 0.2604vw; //5 
        }
    }
}